body {
    font-family: Garamond;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
}

h1 {
    text-align: center;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

/* map style */
.col1 {
  float: left;
  width: 50%;
}

.col2 {
  float: right;
  width: 50%;
}

.state {
  stroke-width: 1;
  stroke: #ffffff;
}

/* hover style */
.state:hover {
  fill: red;
  cursor: pointer;
}

.vis {
    font-family: "Roboto";
}

/* tooltip style */
.tooltip {
  position: absolute;
  height: auto;
  padding: 5px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 2px;
  pointer-events: none;
  font-size: medium;
}

