/* main body styling */
body {
    font-family: Garamond;
    padding-top: 40px;
    padding-right: 30px;
    padding-bottom: 60px;
    padding-left: 30px;
}

h1 {
    text-align: center;
}

p {
    text-indent: 50px;
}

.names {
    text-align: center;
}

/* flexbox styling for two columns next to each other  */
.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.mapcol {
  float: left;
  width: 60%;
}

.linecol {
  float: right;
  width: 40%;
}

/* flexbox styling for two line charts on top of each other */
.lineflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}


.col1 {
  font-family: "Roboto";
  float: left;
  width: 50%;
}

.col2 {
  float: right;
  width: 50%;
}

/* slider flexbox styling */
.sliderflex {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

.sliderrow1 {
  float: top;
  width: 50%;
}

.sliderrow2 {
  float: bottom;
  width: 50%;
}

/* state outline styling */
.state {
  stroke-width: 1;
  stroke: #ffffff;
}

/* hover styling */
.state:hover {
  fill: red;
  cursor: pointer;
}

/* visualization font styling */
.vis {
    font-family: "Roboto";
}

/* tooltip styling */
.tooltip {
  position: absolute;
  height: auto;
  padding: 5px;
  background-color: white;
  border: solid;
  border-width: 2px;
  border-radius: 2px;
  pointer-events: none;
  font-size: medium;
}

/* line chart tickmarks styling */
svg .tick > text {
  font-size: 9px;
  fill: currentColor;
}

/* slider styling */
input[type="range"] {
  width:210px;
}





/* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
